In [27]:
#!pip install PrettyTable

In [81]:
import pandas as pd
import numpy as np
import yfinance as yf
from scipy.optimize import minimize
from IPython.display import display
from prettytable import PrettyTable

In [113]:
tickers = ["BHP.AX", "GOOGL", "AMZN", "WMT", "XOM", "BRK-A", "UNH", "UPS", "AMT", "AAPL", "NEE"]

data = yf.download(tickers, start="2019-01-02", end="2021-12-30")


returns = data["Adj Close"].pct_change()
returns.iloc[0] = returns.mean()  # Filling NaN values with the mean return value


companies = {
    "BHP.AX": "BHP Group Limited",
    "GOOGL": "Alphabet.com, Inc.",
    "AMZN": "Amazon.com, Inc.",
    "WMT": "Walmart Inc.",
    "XOM": "Exxon Mobil Corporation",
    "BRK-A": "Berkshire Hathaway Inc.",
    "UNH": "UnitedHealth Group Incorporated",
    "UPS": "United Parcel Service, Inc.",
    "AMT": "American Tower Corporation",
    "AAPL": "Apple Inc.",
    "NEE": "NextEra Energy, Inc."
}

display(returns)
print(returns.isnull().sum())

[*********************100%***********************]  11 of 11 completed

,AAPL,AMT,AMZN,BHP.AX,BRK-A,GOOGL,NEE,UNH,UPS,WMT,XOM
Date,,,,,,,,,,,
2019-01-02,0.002225,0.001036,0.001187,0.000741,0.000613,0.001494,0.001239,0.001221,0.001324,0.000712,0.000327
2019-01-03,-0.099607,0.005997,-0.025241,0.000000,-0.056098,-0.027696,-0.002473,-0.027270,-0.028392,-0.005142,-0.015354
2019-01-04,0.042689,0.003995,0.050064,-0.008907,0.019164,0.051294,0.018417,0.011695,0.034833,0.006246,0.036870
2019-01-07,-0.002226,0.006190,0.034353,0.030258,0.009915,-0.001994,-0.001449,0.001920,-0.003376,0.011772,0.005200
2019-01-08,0.019063,0.011300,0.016612,0.001163,-0.003724,0.008783,0.007314,0.013371,0.000103,0.006981,0.007271
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-23,0.003644,-0.004002,0.000184,-0.003141,0.000148,0.003425,-0.001101,0.002530,0.017991,-0.002218,0.000492
2021-12-24,0.000000,0.000000,0.000000,0.001454,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-12-27,0.022975,0.025185,-0.008178,0.000000,0.005523,0.006738,0.006836,0.008317,0.013761,0.009105,0.014258
2021-12-28,-0.005767,0.009553,0.005844,0.000000,0.005502,-0.008245,0.006132,0.006887,-0.001999,0.014351,-0.003232
2021-12-29,0.000502,0.001352,-0.008555,0.000242,0.005632,-0.000218,0.001197,0.005249,-0.000373,-0.000490,-0.008753

AAPL      0
AMT       0
AMZN      0
BHP.AX    0
BRK-A     0
GOOGL     0
NEE       0
UNH       0
UPS       0
WMT       0
XOM       0
dtype: int64

In [108]:
table = PrettyTable()
table.field_names = ["Ticker", "Company Name", "Market Cap", "Industry"]

In [109]:
for ticker in returns.columns:
    company_name = companies.get(ticker, "N/A")
    market_cap = yf.Ticker(ticker).info.get("marketCap", "N/A")
    industry = yf.Ticker(ticker).info.get("industry", "N/A")
    table.add_row([ticker, company_name, market_cap, industry])

# Display the table
display(table)

+--------+---------------------------------+---------------+----------------------------------+
| Ticker |           Company Name          |   Market Cap  |             Industry             |
+--------+---------------------------------+---------------+----------------------------------+
|  AAPL  |            Apple Inc.           | 2846108418048 |       Consumer Electronics       |
|  AMT   |    American Tower Corporation   |  89084116992  |          REIT—Specialty          |
|  AMZN  |         Amazon.com, Inc.        | 1274854768640 |         Internet Retail          |
| BHP.AX |        BHP Group Limited        |  310243491840 | Other Industrial Metals & Mining |
| BRK-A  |     Berkshire Hathaway Inc.     |  722795888640 |      Insurance—Diversified       |
| GOOGL  |        Alphabet.com, Inc.       | 1586787254272 |  Internet Content & Information  |
|  NEE   |       NextEra Energy, Inc.      |  149429567488 |   Utilities—Regulated Electric   |
|  UNH   | UnitedHealth Group Incorporated |  465124950016 |         Healthcare Plans         |
|  UPS   |   United Parcel Service, Inc.   |  146130862080 |  Integrated Freight & Logistics  |
|  WMT   |           Walmart Inc.          |  401419632640 |         Discount Stores          |
|  XOM   |     Exxon Mobil Corporation     |  427585568768 |       Oil & Gas Integrated       |
+--------+---------------------------------+---------------+----------------------------------+

In [114]:
from scipy.stats import skew, kurtosis
table = PrettyTable()
table.field_names = ["Stock", "Max", "Min", "Mean", "Standard Deviation", "Cumulative Return", "Skewness", "Kurtosis"]

for ticker in returns.columns:
    stock_name = companies.get(ticker, "N/A")
    max_return = returns[ticker].max()
    min_return = returns[ticker].min()
    mean_return = returns[ticker].mean()
    std_return = returns[ticker].std()
    cumulative_return = (1 + returns[ticker]).cumprod()[-1] - 1
    skewness = skew(returns[ticker].dropna())
    kurt = kurtosis(returns[ticker].dropna())
    
    table.add_row([stock_name[:20], f"{max_return:.4f}", f"{min_return:.4f}", f"{mean_return:.4f}", f"{std_return:.4f}",
                   f"{cumulative_return:.4f}", f"{skewness:.4f}", f"{kurt:.4f}"])

display(table)

+----------------------+--------+---------+--------+--------------------+-------------------+----------+----------+
|        Stock         |  Max   |   Min   |  Mean  | Standard Deviation | Cumulative Return | Skewness | Kurtosis |
+----------------------+--------+---------+--------+--------------------+-------------------+----------+----------+
|      Apple Inc.      | 0.1198 | -0.1286 | 0.0022 |       0.0212       |       3.6907      | -0.1580  |  6.3978  |
| American Tower Corpo | 0.1222 | -0.1516 | 0.0010 |       0.0186       |       0.9511      |  0.1135  | 12.4330  |
|   Amazon.com, Inc.   | 0.0793 | -0.0792 | 0.0012 |       0.0183       |       1.2013      |  0.0826  |  2.6864  |
|  BHP Group Limited   | 0.1194 | -0.1441 | 0.0007 |       0.0186       |       0.5501      | -0.2436  |  8.4156  |
| Berkshire Hathaway I | 0.1129 | -0.0855 | 0.0006 |       0.0141       |       0.4878      | -0.1368  | 11.1625  |
|  Alphabet.com, Inc.  | 0.0962 | -0.1163 | 0.0015 |       0.0184       |       1.7852      | -0.0717  |  6.2771  |
| NextEra Energy, Inc. | 0.1369 | -0.1342 | 0.0012 |       0.0177       |       1.3122      |  0.0445  | 13.8649  |
| UnitedHealth Group I | 0.1280 | -0.1728 | 0.0012 |       0.0207       |       1.1791      | -0.1155  | 13.1818  |
| United Parcel Servic | 0.1438 | -0.0882 | 0.0013 |       0.0193       |       1.4151      |  0.8728  |  9.0257  |
|     Walmart Inc.     | 0.1171 | -0.0907 | 0.0007 |       0.0138       |       0.6123      |  1.0971  | 15.4811  |
| Exxon Mobil Corporat | 0.1269 | -0.1222 | 0.0003 |       0.0227       |       0.0543      |  0.1511  |  5.7734  |
+----------------------+--------+---------+--------+--------------------+-------------------+----------+----------+

In [117]:
covariance_matrix = returns.cov()
display(covariance_matrix)

,AAPL,AMT,AMZN,BHP.AX,BRK-A,GOOGL,NEE,UNH,UPS,WMT,XOM
AAPL,0.000451,0.000185,0.000254,0.000078,0.000160,0.000262,0.000167,0.000217,0.000192,0.000124,0.000175
AMT,0.000185,0.000345,0.000124,0.000065,0.000120,0.000155,0.000218,0.000195,0.000136,0.000110,0.000122
AMZN,0.000254,0.000124,0.000334,0.000066,0.000081,0.000217,0.000102,0.000132,0.000127,0.000090,0.000084
BHP.AX,0.000078,0.000065,0.000066,0.000347,0.000071,0.000061,0.000061,0.000092,0.000057,0.000036,0.000127
BRK-A,0.000160,0.000120,0.000081,0.000071,0.000198,0.000137,0.000129,0.000176,0.000135,0.000073,0.000217
GOOGL,0.000262,0.000155,0.000217,0.000061,0.000137,0.000340,0.000146,0.000200,0.000148,0.000097,0.000184
NEE,0.000167,0.000218,0.000102,0.000061,0.000129,0.000146,0.000312,0.000179,0.000120,0.000110,0.000135
UNH,0.000217,0.000195,0.000132,0.000092,0.000176,0.000200,0.000179,0.000427,0.000165,0.000103,0.000209
UPS,0.000192,0.000136,0.000127,0.000057,0.000135,0.000148,0.000120,0.000165,0.000373,0.000100,0.000160
WMT,0.000124,0.000110,0.000090,0.000036,0.000073,0.000097,0.000110,0.000103,0.000100,0.000191,0.000069
XOM,0.000175,0.000122,0.000084,0.000127,0.000217,0.000184,0.000135,0.000209,0.000160,0.000069,0.000517